body{
    font-family: 'Montserrat', sans-serif;
}

.seccionTitulo{

    .tituloUno{
        font-family: 'WindSong', cursive;
        font-size: 350%;
        display: flex;
        justify-content: center;
    
    }
    .tituloDos{
        font-family: 'Nunito', sans-serif;
        font-size: 150%;
        display: flex;
        justify-content: center;
    }
    }


